@model IEnumerable<Mobie_store.ViewService.product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Layouts/_Home.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.activate == 1)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="@item.image" alt="" style="width: auto; height: 300px;">
                                <div class="product-hover">
                                    <a onclick="addtocart(@item.id)" id="add-to-cart" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="/Detail/Index/@item.id" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            <h2><a href="#">@item.name</a></h2>
                            <div class="product-carousel-price">
                                <ins>@item.price VNĐ</ins> @*<del>$100.00</del>*@
                            </div>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                }

            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
