
@{
    ViewBag.Title = "Deni";
    Layout = "~/Views/Shared/Layouts/_Account.cshtml";
}

<div class="tab-content" id="account-ontent">
    <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
        <div class="tm-myaccount-dashboard">
            Access Denied Please Contact With Admin To More Information
        </div>
    </div>
</div>

