<!DOCTYPE html>
<!--
    ustora by freshdesignweb.com
    Twitter: https://twitter.com/freshdesignweb
    URL: https://www.freshdesignweb.com/ustora/
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TKM - Shop bán điện thoại xịn sò</title>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/Home/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/Home/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/Home/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/Home/css/style.css">
    <link rel="stylesheet" href="~/Assets/Home/css/responsive.css">
    <link rel="stylesheet" href="~/Assets/Account/css/style.css">
    <link rel="stylesheet" href="~/Assets/Account/css/plugins.css">
    <link rel="stylesheet" href="~/Assets/Account/css/custom.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="site-branding-area">
        <div class="header">
            <!-- Header Top Area -->
            <div class="header-toparea">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-sm-6 col-12">
                            <div class="header-topinfo">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart"></i> Danh sách ưu thích</a></li>
                                    <li><a href="/Cart"><i class="fa fa-cc-paypal"></i> Thanh toán</a></li>
                                    <li><a href="/Customer"><i class="fa fa-user"></i> Đăng nhập</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Header Top Area -->
            <!-- Header Bottom Area -->
            <div class="container">
                <div class="header-bottomarea">
                    <div class="header-bottominner">
                        <div class="header-logo">
                            <a href="/Home">
                                <img src="~/Assets/Home/img/logo.png">
                            </a>
                        </div>
                        <nav class="tm-navigation">
                            <ul>
                                <li><a href="/ListProduct">Trang chủ</a></li>
                                <li class="tm-navigation-dropdown">
                                    <a href="#">Danh sách điện thoại</a>
                                    <ul>
                                        @{
                                            var db = new Mobie_store.ViewService.ViewServiceClient().Get_category(0);
                                            foreach (var item in db)
                                            {
                                                <li>
                                                    <a href="/Categories/Product/@item.id">@item.name</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li><a href="#">Sản phẩm khác</a></li>
                                <li><a href="#">Liên lạc</a></li>
                            </ul>
                        </nav>
                        <div class="header-icons">
                            <ul>
                                <li><a href="/Cart"><i class="zmdi zmdi-shopping-cart"></i></a></li>
                                <li><a href="#" class="header-searchtrigger"><i class="zmdi zmdi-search"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-searchbox">
                            <div class="header-searchinner">
                                <form method="post" action="@Url.Action("Search","ListProduct")" class="header-searchform">
                                    <input type="text" name="Desc" placeholder="Enter search keyword..">
                                </form>
                                <button class="search-close"><i class="zmdi zmdi-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="header-mobilemenu clearfix">
                        <div class="tm-mobilenav"></div>
                    </div>
                </div>
            </div>

            <!--// Header Bottom Area -->
        </div>
    </div> <!-- End site branding area -->

    @RenderBody();

    @*<div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright">
                            <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-card-icon">
                            <i class="fa fa-cc-discover"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-paypal"></i>
                            <i class="fa fa-cc-visa"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="modal fade success-popup" id="SuccessMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Thank You !</h4>
                </div>
                <div class="modal-body text-center">
                    <i class="fa fa-check-square-o" style="font-size: 50px;color: green;"></i>
                    <p class="lead">Sản phẩm đã được đưa vào giỏ hàng</p>
                    <a href="/Cart/Index" class="btn btn-success">Đến giỏ hàng</a>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade success-popup" id="ErrMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Thank You !</h4>
                </div>
                <div class="modal-body text-center">
                    <i class="fa exclamation-triangle" style="font-size: 50px;color: green;"></i>
                    <p class="lead">Lỗi thêm sản phẩm</p>
                    <a href="/Cart/Index" class="btn btn-success">Đến giỏ hàng</a>
                </div>

            </div>
        </div>
    </div>

    <script>

        function addtocart(id) {
            $.ajax({
                type: 'GET',
                url: '/Cart/AddToCart',
                dataType: 'json',
                data: { id: id, SoLuong: 1 },
                success: function (response) {
                    if (response.status) {
                        $("#my-cart").text(response.sluong);
                        $('#SuccessMD').modal('show');
                    }
                    else {
                        $('#ErrMD').modal('show');
                    }

                }
            });
        }
    </script>

    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- jQuery sticky menu -->
    <script src="~/Assets/Home/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Home/js/jquery.sticky.js"></script>
    <!-- jQuery easing -->
    <script src="~/Assets/Home/js/jquery.easing.1.3.min.js"></script>
    <!-- Main Script -->
    <script src="~/Assets/Home/js/main.js"></script>
    <!-- Slider -->
    <script type="text/javascript" src="~/Assets/Home/js/bxslider.min.js"></script>
    <script type="text/javascript" src="~/Assets/Home/js/script.slider.js"></script>
    <script src="~/Assets/Admin/js/demo.js"></script>
    <script src="~/Assets/Account/js/plugins.js"></script>
    <script src="~/Assets/Account/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Assets/Account/js/main.js"></script>
</body>
</html>