@model IEnumerable<Mobie_store.ViewService.product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Home.cshtml";
}

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="~/Assets/Home/img/iphoneTravel01.jpg" alt="Slide"> <!--h4-slide.png-->
                <div class="caption-group">
                    <h2 class="caption title">
                        IPhone <span class="primary">6 <strong>Plus</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Đồng hành với bạn</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Assets/Home/img/iphoneTravel02.jpg" alt="Slide"> <!--h4-slide2.png-->
                <div class="caption-group">
                    <h2 class="caption title">
                        Sam sung <span class="primary">10% <strong>off</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Trên mọi lẻo đường</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Assets/Home/img/iphoneTravel03.jpg" alt="Slide"> <!--h4-slide3.png-->
                <div class="caption-group">
                    <h2 class="caption title">
                        Apple <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Cùng nhau ghi lại những khoảng khắc</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Assets/Home/img/iphoneTravel04.jpg" alt="Slide"> <!--h4-slide4.png-->
                <div class="caption-group">
                    <h2 class="caption title">
                        Oppo <span class="primary">Store <strong>Pro plus</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Giữ lại kỷ niệm tuyệt đẹp</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                        @foreach (var item in Model)
                        {
                            if (item.activate == 1)
                            {
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="@item.image" alt="" style="width: auto; height: 262.172px;">
                                        <div class="product-hover">
                                            <a onclick="addtocart(@item.id)" id="add-to-cart" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="/Detail/Index/@item.id" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    <h2><a href="#">Iphone XR</a></h2>
                                    <div class="product-carousel-price">
                                        <ins>@string.Format("{0:#,#.##}", @item.price) VND</ins> @*<del>$100.00</del>*@
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <a href="/Categories/Product/9">
                            <img src="~/Assets/Home/img/brand1.png" alt="">
                        </a>
                        <a href="/Categories/Product/1">
                            <img src="~/Assets/Home/img/brand2.png" alt="">
                        </a>
                        <a href="/Categories/Product/1">
                            <img src="~/Assets/Home/img/brand3.png" alt="">
                        </a>
                        <a href="/Categories/Product/8">
                            <img src="~/Assets/Home/img/brand4.png" alt="">
                        </a>
                        <a href="/Categories/Product/10">
                            <img src="~/Assets/Home/img/brand5.png" alt="">
                        </a>
                        <a href="/Categories/Product/10">
                            <img src="~/Assets/Home/img/brand6.png" alt="">
                        </a>
                        <a href="/Categories/Product/7">
                            <img src="~/Assets/Home/img/brand1.png" alt="">
                        </a>
                        <a href="/Categories/Product/8">
                            <img src="~/Assets/Home/img/brand2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->
<div class="modal fade success-popup" id="SuccessMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Thank You !</h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa fa-check-square-o" style="font-size: 50px;color: green;"></i>
                <p class="lead">Sản phẩm đã được đưa vào giỏ hàng</p>
                <a href="/Cart/Index" class="btn btn-success">Đến giỏ hàng</a>
            </div>

        </div>
    </div>
</div>
<div class="modal fade success-popup" id="ErrMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Thank You !</h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa exclamation-triangle" style="font-size: 50px;color: green;"></i>
                <p class="lead">Lỗi thêm sản phẩm</p>
                <a href="/Cart/Index" class="btn btn-success">Đến giỏ hàng</a>
            </div>

        </div>
    </div>
</div>
<script>

    function addtocart(id) {
        $.ajax({
            type: 'GET',
            url: '/Cart/AddToCart',
            dataType: 'json',
            data: { id: id, SoLuong: 1 },
            success: function (response) {
                if (response.status) {
                    $("#my-cart").text(response.sluong);
                    $('#SuccessMD').modal('show');
                }
                else {
                    $('#ErrMD').modal('show');
                }

            }
        });
    }
</script>
