
@model Mobie_store.ViewService.review[]
@{
    ViewBag.Title = "Indexreview";
    Layout = "~/Views/Shared/Layouts/_Service.cshtml";
}

<h2>Indexreview</h2>

@foreach (var item in Model)
{
    @item.id<br />
    @item.product_id<br />
    @item.users_id<br />
    @item.reviews<br />
    <p>_______________________________</p>
}